<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.bigevent.mapper.ArticleMapper">

    <!--
    mapper namespace对应mapper接口具体路径
    id对应mapper接口中具体方法名，resultType对应具体javabean路径
    动态sql,and会自动省略
    -->
    <select id="list" resultType="com.itheima.bigevent.pojo.Article">
        select * from article
        <where>
            <if test="categoryId!=null">
                category_id=#{categoryId}
            </if>

            <if test="state!=null">
                and state=#{state}
            </if>

            and create_user=#{userId}
        </where>
    </select>
</mapper>